<footer>
    <div class="footer__container">
        <!-- тут ссылка----------------------------- -->
        <center>
            <a class="footer__logo" href="#"><img src="/img/logo.webp" alt=""></a>
        </center>
    </div>
</footer>