<header>
    <div class="header__container">
        <a class="header__logo" href="/">
            <div>
                <img src="/img/logo.webp" alt="logo">
                <p>Party Manager</p>
            </div>
        </a>
        <nav class="header__menu">
            <ul>
                <li class="header__links"><a href="/">Party</a></li>
                <li class="header__links"><a href="/add">Add Party</a></li>
            </ul>
        </nav>
    </div>
</header>