<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {title: "Party Manger Edit"})%>
<body>
    <%- include("partials/header.ejs")%>
    <main>
        <div class="main__item main__container">
            <form class="main__form" action="" method="POST">
                <div class="main__left">
                    <label for="name">Enter the meeting's title</label>
                    <input type="text" id="name">
                    <label for="info">Enter the meeting information</label>
                    <textarea id="info"></textarea>
                </div>
                <div class="main__right">
                    <label for="date">Enter the date of the appointment</label>
                    <input type="datetime-local" id="date">
                    <label for="loc">Location</label>
                    <input type="text">
                    <label for="users">Enter the participants of the meeting</label>
                    <input type="number" id="users">
                    <button class="button__general__settwo">EDIT +</button>
                </div>
            </form>
        </div>
    </main> 
    <%- include("partials/footer.ejs")%>
</body>
</html>